.navbar-trans {
    background: transparent; 
}

.cover {
    background: #2b2d34 url("../img/bg-primuz-burgers.png") center;
    background-size: cover;
    min-height: 30rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem; 
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.caixa-texto h1 {
    font-size: 3.5em;
}

.caixa-texto p {
    font-weight: 400;
    font-size: 1.4em;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.navbar-toggler {
  color: rgba(0, 255, 106, 0.5);
  border-color: rgb(255, 255, 255);
}  

.caixa-texto-2 h1 {
    font-weight: bold;
    color: #E67E22;
}

.caixa-texto-2 h1:after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #E67E22;
    margin: 8px auto;
}

.coluna .col-lg-4 {
    padding-left: 41px;
}

.titulo {
    font-weight: bold;
    color: #E67E22;
}

.titulo:after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background: #E67E22;
    margin: 8px auto;
}